header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3586ff;
  padding: 15px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header p {
  margin: 0;
  font-size: 1.75rem;
  color: #8d06e7;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: flex;
}