
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  line-height: 1.4;
  color: #ebe7ef;
  background: radial-gradient(#280a48, #20043d);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
  flex: 1;
}

